.header {
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    align-items: start;
}
@media (width > 768px) {
    .card {
        height: 200px;
    }
}

@media (width <= 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.cardAdd {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0);
    border-width: 0.4em;
    border-style: dashed;
    color: #6b7280;
    border-color: #6b7280;
    opacity: 0.4;

    cursor: pointer;
}
