.header {
    color: white; /* TODO изменить*/
    background-color: var(--color-blue-600); /* TODO изменить*/

    height: 3em;
    padding-inline: 1rem;
}

@media (width <= 1200px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar {
        --duration: 1s;
        --bg-color: rgba(128, 128, 128, 0.5);
        --bg-color-nav: rgba(100, 40, 250, 1);

        visibility: hidden;
        width: 100dvw;
        height: 100dvh;
        left: 0;
        top: 0;
        position: fixed;

        background: rgba(0, 0, 0, 0);

        transition:
            background var(--duration) ease-in-out,
            visibility var(--duration) ease-out;

        & > .nav {
            width: fit-content;
            height: 100%;
            padding-inline: 5em;

            background-color: var(--bg-color-nav); /* TODO изменить*/

            transform: translateX(-100%);
            transition: transform var(--duration) ease-in-out;
        }
    }

    .sidebar.active {
        visibility: visible;

        background: var(--bg-color);

        & > .nav {
            transform: translateX(0);
        }
    }
}

@media (hover: hover) and (width > 1200px) {
    .nav > * {
        display: flex;
    }

    .header {
        justify-self: center;
        width: 75%;
        margin-top: 2em;
        margin-bottom: 1em;

        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        & > :last-child {
            justify-self: end;
        }

        background-color: var(--color-orange-400); /* TODO изменить*/
        border-radius: 1.5rem;
        padding-inline: 4rem;
    }
}
