@import "tailwindcss";

:root {
    --bg-primary: var(--color-yellow-100);
    /* Using for header/sidebar */
    --bg-base: var(--color-yellow-400);
    --bg-mobile-sidebar: var(--color-yellow-900);
    --font-color-primary: rgb(60, 60, 60);
    --font-primary: Montserrat;

    color: var(--font-color-primary);
    font-size: 18px;
    font-family: var(--font-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}
