@import "tailwindcss";

/* Mobile */
@media (width <= 768px) {
    .root_layout {
        grid-template:
            "header" min-content
            "main" auto
            "footer" min-content;
    }

    .main {
        @apply rounded-t-3xl;
    }
}

/* Desktop */
@media (width > 768px) {
    .root_layout {
        grid-template:
            "header main" 1fr
            "header footer" min-content
            / min-content 1fr;
    }

    .main {
        border-top-left-radius: 2em;
    }
    .footer {
        border-bottom-left-radius: 2em;
    }
}

.root_layout {
    min-height: 100dvh;
    min-width: 100dvw;

    display: grid;

    & > header {
        grid-area: header;
    }
    & > main {
        grid-area: main;
    }
    & > footer {
        grid-area: footer;
    }
}

.app {
    background: var(--bg-base);
}

.main,
.footer {
    background: var(--bg-primary);
}

/*@media (hover: hover) and (width > 1200px) {
}*/
