/* FIXME: ломает сайт на mobile*/
.footer {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.6em;

    flex-wrap: wrap;
}

.footer svg {
    display: inline;
}

.center_vertically {
    display: flex;
    align-items: center;
}
